<div class="container">
  <div class="row p-1">
    <div class="col-1">User</div>
    <div class="col-5"><input type="text" [(ngModel)]="username" /></div>
  </div>
  <div class="row p-1">
    <div class="col-1">Message</div>
    <div class="col-5"><input type="text" [(ngModel)]="message" /></div>
  </div>
  <div class="row p-1">
    <div class="col-6 text-end">
      <input type="button" (click)="OnSendClick()" value="Send Message" />
    </div>
  </div>
  <div class="row p-1">
    <div class="col-6">
      <hr />
    </div>
  </div>
  <div class="row p-1">
    <div class="col-6">
      <ul id="messagesList">
        <li *ngFor="let message of messages">
          <div class="row">
            <div class="col-1">{{ message.username }}</div>
            <div class="col-5">{{ message.message }}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
