<form [formGroup]="form">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text"
           class="form-control"
           id="username"
           name="username"
           formControlName="username"
           required>
    <div ></div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password"
           class="form-control"
           id="password"
           name="password"
           formControlName="password"
           required>
  </div>
  <button type="submit"
          class="btn btn-primary"
          (click)="onSubmit()">Login
  </button>

</form>


<!-- In the event the API returns an error, we can display it here -->
<div *ngIf="error$|async as error">
  <h2>API Error</h2>
  <code>
    <pre>{{error}}</pre>
  </code>
</div>
