<form [formGroup]="form">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text"
           class="form-control"
           id="username"
           name="username"
           formControlName="username"
           required>
    <div class="validation-group">
      <div class="validation">
        <div class="validation-check">{{ hasError(username, 'required') ? '❌' : '✅' }}</div>
        <div class="validation-message">Username is required</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password"
           class="form-control"
           id="password"
           name="password"
           formControlName="password"
           required>
    <div class="validation-group">
      <div class="validation">
        <div class="validation-check">{{ hasError(password, 'required') ? '❌' : '✅' }}</div>
        <div class="validation-message">Password is required</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password_confirmation">Password Confirmation</label>
    <input type="password"
           class="form-control"
           id="password_confirmation"
           name="password_confirmation"
           formControlName="password_confirmation"
           required>

    <div class="validation-group">
      <div class="validation">
        <div class="validation-check">{{ hasError(password_confirmation, 'required') ? '❌' : '✅' }}</div>
        <div class="validation-message">Password confirmation is required</div>
      </div>
      <div class="validation">
        <div class="validation-check">{{ hasError(form, 'passwordsDontMatch') ? '❌' : '✅' }}</div>
        <div class="validation-message">Passwords don't match</div>
      </div>
    </div>
  </div>
  <button type="submit"
          class="btn btn-primary"
          (click)="onSubmit()"
          [disabled]="isFormDisabled$|async">Create Account
  </button>
</form>

<div *ngIf="error$|async as error">
  <h2>API Error</h2>
  <code>
    <pre>{{error}}</pre>
  </code>
</div>
